.product-container{
    border-right: 1px solid lightgray;
    margin-right: 6px;
    margin-left: 20%;
}
.order-details{
    text-align: center;
}
.order-item{
    font-size: 20px;
    font-weight: 400;
}