.header{
    text-align: center;
}
.h-img{
    height: 80px;
}
.header nav {
    background-color: black;
    padding:10px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    padding:10px;
}
.header nav a:hover{
    background-color: lightgray;
}